
/*
______________________________________________

	DEFINITIONS DES CONSTANTES DE STYLES 
______________________________________________
*/

/*
Style sur les polices :
-----------------------
*/
/* Police principale utilisée dans tout le site */
:root {
    --typo-generale: 'Fira Sans', 'Open Sans', sans-serif;
    /* Polices titres & sous-titre : */
    --typo-titres: 'Kanit', 'Exo 2', sans-serif;
    /*
    Style sur les couleurs :
    ------------------------
    */
    /* Couleur du lien normal dans la navbar */
    --nav-link: rgb(16, 44, 84);
    /* Couleur du lien actif dans la navbar */
    --nav-link-active: rgb(16, 44, 84);
    /*
    Redéfinition des couleurs de Bootstrap :
    ----------------------------------------
    */
    --bs-warning: rgb(16, 44, 84);
    --bs-warning-rgb: 16, 44, 84;
    --bs-warning-bg-subtle: rgba(16, 44, 84, 0.2);
    --bs-warning-border-subtle: rgba(16, 44, 84, 0.2);
}

/* Style global du corps de page */
body {
    font-family: var(--typo-generale);
    color: rgb(16, 44, 84);
    background-color: #f9f9f9;
}

/* Titres principaux et secondaires */
h1, h2, h3 {
    font-family: var(--typo-titres);
    color: rgb(16, 44, 84);
}

/* Lien normal */
a {
    color: rgb(16, 44, 84);
    text-decoration: none;
}

    /* Lien actif ou survolé */
    a.active,
    a:hover {
        color: rgb(16, 44, 84);
    }






/*
________________________________________________

	DEFINITION DES PROPRIETES DES CLASSES CSS
________________________________________________
*/

/*
----------------------
PROPRIETES GENERALES :
----------------------
*/

/*
Définition du fond :
--------------------
*/
body {
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../../theme/logo/CMSrealSize5000_final_darker.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /*contain*/ 
    background-attachment: fixed;
  }


  /*
PROPRIETES SUR LE HEADER & NAVBAR :
-----------------------------------
*/

/*
Définition du fond du header :
------------------------------
*/

.background-header {
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.95)), url('../backgrounds/header_background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /*contain*/ 
  }

/*
Couleur des éléments de navigations :
-------------------------------------
*/

.navbar {
    font-size: 0.8em;
}

.nav-link-icon {
    font-size: 1.5em;
}

.nav-link {
    color: var(--nav-link);
}

.nav-link:hover, .dropdown-item:hover {
    color: var(--bs-warning);
}

.nav-link:active {
    color: black;
}


.navbar-nav .nav-item .active {
    color: var(--nav-link-active);
  }


.dropdown-item {
    font-weight: bold;
    color: black;
}

.dropdown-item:active {
    background-color: var(--navbar-brand-couleur);
    color: white;
}


.navbar-toggler {
    background-color: rgba(255, 255, 255, 1);
}
